body {
  font-family: 'Arial, sans-serif';
  background: url('calculatrice.jpg') no-repeat center center fixed;
  background-size: auto 100% ;
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title {
  margin-top: 0;
  padding-top: 20px; 
  font-size: 2em; 
}

.input-columns {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px; 
}

input[type="number"]:focus {
  border-color: #007bff; 
}

#content {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly more opacity */
  padding: 30px; /* More padding for better spacing */
  border-radius: 15px; /* More pronounced rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 600px; /* Max width for the content area */
  width: 100%; /* Full width */
}

button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; 
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0056b3; 
}

.result, .goodResult, .retestResult, .rejectResult {
  color: white;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
  width: auto; 
  transition: transform 0.2s; /* Smooth scaling on hover */
}

.result:hover, .goodResult:hover, .retestResult:hover, .rejectResult:hover {
  transform: scale(1.05); /* Slight scaling effect on hover */
}

.goodResult {
  background-color: #28a745; 
}

.retestResult {
  background-color: #ffc107; 
}

.rejectResult {
  background-color: #dc3545; 
}
